In [ ]:
"""
-- Note: Unless you save your query, these tabs will NOT persist if you clear your cookies or change browsers.

SELECT deaths,
CASE WHEN age < 20 THEN '<20'
     WHEN age >=20 and age < 30  THEN '20-29'
     WHEN age >=30 and age < 40  THEN '30-39'
     WHEN age >=40 and age < 50  THEN '40-49'
     WHEN age >=50 and age < 60  THEN '50-59'
     WHEN age >=60 and age < 70  THEN '60-69'
     WHEN age >=70 and age < 80  THEN '70-79'
     ELSE '>=80'
END as age_group,
age,
to_date(to_char(year::NUMERIC,'9999D99S'),'YYYY') AS new_year from data_result
"""

sql = """
select 
    sum(bev002__gestorbene__anzahl) as deaths,
    cast(
        (case 4_auspraegung_label when 'unter 1 Jahr' then '0' else split(4_auspraegung_label,'-')[0] end) 
    as int) as age,
    Zeit as year,
    from df 
    where 4_auspraegung_label not in (
        'Alter unbekannt',
        'Insgesamt',
        '100 Jahre und mehr') 
    group by 4_auspraegung_label, Zeit 
    order by zeit asc
"""
sql = sql.replace("\n", " ")

In [ ]:
!ipython component-library/transform/spark-sql.ipynb data_dir=/home/jovyan/work/claimed/data/ sql="$sql"

In [ ]:
host=''
port=5432
database='postgresdb'
user='postgresadmin'
password='admin123'
schema='public'
table='data_result'
data_csv='data_result.csv'
truncate=False

In [ ]:
!ipython component-library/output/output-rdbms-sqlalchemy.ipynb data_dir=/home/jovyan/work/claimed/data/ host="$host" port="$port" database="$database" user="$user" password="$password" schema="$schema" table="$table" data_csv="$data_csv" truncate="$truncate"